
<application>
<name>All Gestures You Can Dependencies</name>

	<module>
		<name>speechRecognizer</name>
		<node>icub-win1</node>
		<tag>speechRecognizerTag</tag>
	</module>

	<module>
		<name>kinectServer</name>
		<node>node1</node>
		<tag>kinectServerTag</tag>
	</module>
           
</application>
